/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

/* ===== ADMIN LAYOUT ===== */
.admin-container {
  display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  border-right: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 6px;
}

.link.active {
  background: #e6e6ff;
  font-weight: bold;
}

/* ===== MAIN CONTENT ===== */
.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: 100vh;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
}

/* ===== NAVBAR ===== */
.navbar {
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

.nav-actions {
  display: flex;
  gap: 10px;
}

.logout-btn {
  padding: 8px 12px;
  background: red;
  color: white;
  border-radius: 5px;
}

/* ===== DARK MODE ===== */
body.dark {
  background: #1e1e2f;
}

body.dark .sidebar {
  background: #2c2c3e;
  color: white;
}

body.dark .link {
  color: white;
}

body.dark .link.active {
  background: #444;
}

body.dark .main-content {
  background: #1e1e2f;
}

body.dark .navbar {
  background: #2c2c3e;
  color: white;
}
/* ===== DARK MODE TEXT FIX ===== */

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark span {
  color: white;
}
.head{
    font-size: 25px;
    
}