body.dark {
  background-color: #121212;
    color: white;
}
body.dark .admin-container {
  background-color: #121212;
  color: white;
}
body.dark .main-section {
  background-color: #121212;
    color: white;

}
body.dark .content {
  background-color: #121212;
    color: white;

}
body.dark .chart-box{
  background-color: #121212;
    color: white;

}
body.dark .sidebar {
  background-color: #1e1e1e;
    color: white;

}

body.dark .navbar {
  background-color: #1e1e1e;
    color: white;

}

body.dark .card {
  background-color: #2a2a2a;
  color: white;
}

body.dark .activity {
  background-color: #2a2a2a;
    color: white;

}
.admin-container {
  display: flex;
  min-height: 100vh;
  background-color: #d3d5d8;
  font-family: sans-serif;
}
.activity{
    background-color: #d3d5d8;
}
.sidebar {
  width: 240px;
  background: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h1 {
  color: #e23744;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.main-section {
  flex: 1;
  margin-left: 240px;
  background-color: #d3d5d8;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content:space-between;
  padding: 15px;
  background: white;
}

.logout-btn {
  background: #e23744;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.content {
  padding: 20px;
  background-color: transparent;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
}
.chart-box {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 12px;
}
.link {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}
.link.active{
    background-color: #ffecec;
    color: #e23744;
    font-weight: 600;
}
.link:hover {
  background-color: #f3f3f3;
}

.active {
  background-color: #ffecec;
  color: #e23744;
  font-weight: 600;
}
#logo{
    height: 70px;
    width: 150px;
}
#he{
    font-size: 30px;
    padding: 10px;
}
.nav-actions {
  display: flex;
  gap: 10px;
}

.link.active {
  background-color: #ffecec;
  color: #e23744;
  font-weight: 600;
}