/* ICON */
.icon {
  font-size: 22px;
  color: #e23744;
  margin-bottom: 10px;
}
.stats{
    display: flex;
    justify-content: space-between;
}
/* HOVER EFFECT */
.stat-card {
  transition: all 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* BOX HOVER */
.box {
  transition: all 0.3s ease;
  padding-left: 20px;
  margin-top: 15px;

}

.box:hover {
  transform: translateY(-5px);
}

/* BUTTON HOVER */
.box button:hover {
  background: #e23744;
  color: white;
  transition: 0.3s;
}
.dashboard{
  padding: 20px;
  
}
